
#include <windows.h>
#include "version.h"
#include "resource.h"

VS_VERSION_INFO    VERSIONINFO
FILEVERSION        RC_VERSION_D
PRODUCTVERSION     RC_VERSION_D
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifndef _DEBUG
FILEFLAGS          0x00000000L
#else
FILEFLAGS          VS_FF_DEBUG
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_DLL
FILESUBTYPE        VFT2_UNKNOWN
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004B0"
		{
			VALUE "CompanyName", RC_AUTHOR
			VALUE "FileDescription", RC_PRODUCT " Text Input Processor"
			VALUE "FileVersion", RC_VERSION
			VALUE "InternalName", "imcrvtip"
			VALUE "LegalCopyright", "© 2011 " RC_AUTHOR
			VALUE "OriginalFilename", "imcrvtip.dll"
			VALUE "ProductName", RC_PRODUCT
			VALUE "ProductVersion", RC_VERSION
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0000, 1200
	}
}

#ifndef _DEBUG
IDI_0_IME          ICON  "Icon\\imcrvskk.ico"
#else
IDI_0_IME          ICON  "Icon\\imdebug.ico"
#endif
IDI_X_DEFAULT      ICON  "Icon\\xDefault.ico"
IDI_X_HIRAGANA     ICON  "Icon\\xHiragana.ico"
IDI_X_KATAKANA     ICON  "Icon\\xKatakana.ico"
IDI_X_KATAKANA1    ICON  "Icon\\xKatakana1.ico"
IDI_X_JLATIN       ICON  "Icon\\xJLatin.ico"
IDI_X_ASCII        ICON  "Icon\\xAscii.ico"
IDI_Z_DEFAULT      ICON  "Icon\\zDefault.ico"
IDI_Z_HIRAGANA     ICON  "Icon\\zHiragana.ico"
IDI_Z_KATAKANA     ICON  "Icon\\zKatakana.ico"
IDI_Z_KATAKANA1    ICON  "Icon\\zKatakana1.ico"
IDI_Z_JLATIN       ICON  "Icon\\zJLatin.ico"
IDI_Z_ASCII        ICON  "Icon\\zAscii.ico"

IDR_SYSTRAY_MENU MENU
{
    POPUP ""
    {
        MENUITEM "［かな］", IDM_HIRAGANA
        MENUITEM "［カナ］", IDM_KATAKANA
        MENUITEM "［－ｶﾅ］", IDM_KATAKANA_ANK
        MENUITEM "［全英］", IDM_JLATIN
        MENUITEM "［SKK］",  IDM_ASCII
        MENUITEM "［－－］", IDM_DIRECT
        MENUITEM SEPARATOR
        MENUITEM "設定",     IDM_CONFIG
    }
}
