
#include <winver.h>

VS_VERSION_INFO    VERSIONINFO
FILEVERSION        5,4,0,0
PRODUCTVERSION     5,4,0,0
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
#ifndef _DEBUG
FILEFLAGS          0x00000000L
#else
FILEFLAGS          VS_FF_DEBUG
#endif
FILEOS             VOS_NT_WINDOWS32
FILETYPE           VFT_DLL
FILESUBTYPE        VFT2_UNKNOWN
{
	BLOCK "StringFileInfo"
	{
		BLOCK "000004B0"
		{
			VALUE "CompanyName", "Lua.org, PUC-Rio"
			VALUE "FileDescription", "Lua Language Library with Wide Character Patch"
			VALUE "FileVersion", "5.4.0"
			VALUE "InternalName", "lua54"
			VALUE "LegalCopyright", "Copyright (C) 1994-2020 Lua.org, PUC-Rio."
			VALUE "OriginalFilename", "lua54.dll"
			VALUE "ProductName", "Lua Language"
			VALUE "ProductVersion", "5.4.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0000, 1200
	}
}
