<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define version="2.0.0" ?>

  <Product Id="*" Name="CorvusSKK" Version="$(var.version)" Manufacturer="nathancorvussolis"
    Language="1033" UpgradeCode="3F1244EC-9A5C-4041-9A33-E26B03C63C9B">

    <Package Id="*" Compressed="yes" Description="CorvusSKK" Comments="ver. $(var.version)"
      Platform="x86" InstallerVersion="405" InstallScope="perMachine" InstallPrivileges="elevated" />

    <Media Id="1" Cabinet="corvusskk.cab" CompressionLevel="high" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="SystemFolder" Name="SystemFolder">
        <Directory Id="IME_X86" Name="IME">
          <Directory Id="IMCRVSKK_X86" Name="IMCRVSKK" />
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="IMCRVSKK_X86">
      <Component Guid="B3338B63-FB00-4206-8678-6352340F6685" Id="CNF_X86">
        <File Id="F_imcrvcnf_x86" Name="imcrvcnf.exe" Source="..\Win32\Release\imcrvcnf.exe" />
      </Component>
      <Component Guid="7AAEB314-5B77-4DEB-BA18-E7FD562990B7" Id="MGR_X86">
        <File Id="F_imcrvmgr_x86" Name="imcrvmgr.exe" Source="..\Win32\Release\imcrvmgr.exe" />
      </Component>
      <Component Guid="ACDB59A6-C6EE-4291-B2DE-EA808AB0241B" Id="TIP_X86">
        <File Id="F_imcrvtip_x86" Name="imcrvtip.dll" Source="..\Win32\Release\imcrvtip.dll" SelfRegCost="1" />
      </Component>
      <Component Guid="288FF289-0EAA-405B-87ED-4F367D40546F" Id="LUAEXE_X86">
        <File Id="F_luaexe_x86" Name="lua.exe" Source="..\Win32\Release\lua.exe" />
      </Component>
      <Component Guid="84898511-4C96-4114-A7EE-8F32E260D28A" Id="LUADLL_X86">
        <File Id="F_luadll_x86" Name="lua53.dll" Source="..\Win32\Release\lua53.dll" />
      </Component>
      <Component Guid="1229154E-E5AB-430C-87EC-A7DBB451A157" Id="INITLUA_X86">
        <File Id="F_initlua_x86" Name="init.lua" Source="config-lua\init.lua" />
      </Component>
    </DirectoryRef>

    <Component Id="RegistryRun" Guid="7518DACF-6FAB-4536-ABE7-6929C618B608" Directory="TARGETDIR">
      <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
        <RegistryValue Type="string" Name="imcrvmgr" Value="&quot;$(env.SystemRoot)\System32\IME\IMCRVSKK\imcrvmgr.exe&quot;" Action="write" />
      </RegistryKey>
    </Component>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_X86" />
      <ComponentRef Id="MGR_X86" />
      <ComponentRef Id="TIP_X86" />
      <ComponentRef Id="LUAEXE_X86" />
      <ComponentRef Id="LUADLL_X86" />
      <ComponentRef Id="INITLUA_X86" />
      <ComponentRef Id="RegistryRun" />
    </Feature>

    <DirectoryRef Id="TARGETDIR">
      <Merge Id="CRT_X86" SourceFile="$(env.CommonProgramFiles)\Merge Modules\Microsoft_VC120_CRT_x86.msm" DiskId="1" Language="0" />
    </DirectoryRef>
    <Feature Id="CRT" Title="VCRuntime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="CRT_X86" />
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="ms-pl.rtf" />
    <Property Id="ARPPRODUCTICON" Value="CorvusSKK.ico" />
    <Icon Id="CorvusSKK.ico" SourceFile="..\imcrvtip\Icon\CorvusSKK.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
    </InstallExecuteSequence>

    <Condition Message="This installer is used for 32-bit Windows. Use 64-bit installer.">
      <![CDATA[NOT VersionNT64]]>
    </Condition>
    <Condition Message="This application does not support this version of Windows.">
      <![CDATA[VersionNT >= 600]]>
    </Condition>

  </Product>

</Wix>
