<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define version="1.1.0" ?>
    <Product Id="*" Name="CorvusSKK" Language="1033" Version="$(var.version)" Manufacturer="Nathan Corvus Solis" UpgradeCode="DBDB315C-1F74-4051-8A67-705D0FD16497">
        <Package Id="*" Compressed="yes" Description="CorvusSKK" Comments="version $(var.version)" Platform="x64" InstallerVersion="200" InstallScope="perMachine" InstallPrivileges="elevated" />
        <Media Id="1" Cabinet="corvusskk.cab" EmbedCab="yes" />
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="SystemFolder" Name="SystemFolder">
                <Directory Id="ime_x86" Name="IME">
                    <Directory Id="corvusskk_x86" Name="IMCRVSKK">
                        <Component Guid="3F78BFCA-3956-44EC-A79B-ED2494D0EDEA" Id="CNF_X86">
                            <File Id="cnf_x86" Name="imcrvcnf.exe" Source="..\Win32\Release\imcrvcnf.exe" />
                        </Component>
                        <Component Guid="AEC36A38-0319-4ACF-9326-431DB3D80FD0" Id="MGR_X86">
                            <File Id="mgr_x86" Name="imcrvmgr.exe" Source="..\Win32\Release\imcrvmgr.exe" />
                        </Component>
                        <Component Guid="CBC6E637-0EF3-4E97-B7C3-2A6430CADE72" Id="TIP_X86">
                            <File Id="tip_x86" Name="imcrvtip.dll" Source="..\Win32\Release\imcrvtip.dll" SelfRegCost="1" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
            <Directory Id="System64Folder" Name="System64Folder">
                <Directory Id="ime_x64" Name="IME">
                    <Directory Id="corvusskk_x64" Name="IMCRVSKK">
                        <Component Guid="2DFD9121-84B7-48E3-9D4D-5A51103906CC" Id="CNF_X64" Win64="yes">
                            <File Id="cnf_x64" Name="imcrvcnf.exe" Source="..\x64\Release\imcrvcnf.exe" />
                        </Component>
                        <Component Guid="3FE36409-BA38-46DC-ACE6-3EEF950807B1" Id="MGR_X64" Win64="yes">
                            <File Id="mgr_x64" Name="imcrvmgr.exe" Source="..\x64\Release\imcrvmgr.exe" />
                        </Component>
                        <Component Guid="010DBC18-3C6C-491D-9236-C68B94905C81" Id="TIP_X64" Win64="yes">
                            <File Id="tip_x64" Name="imcrvtip.dll" Source="..\x64\Release\imcrvtip.dll" SelfRegCost="1" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
        <Component Id="RegistryRun" Guid="B3A8044A-CA52-4976-A2DA-76396BBBADAC" Win64="yes" Directory="TARGETDIR">
            <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run">
                <RegistryValue Type="string" Name="imcrvmgr" Value="$(env.windir)\System32\IME\IMCRVSKK\imcrvmgr.exe" Action="write" />
            </RegistryKey>
        </Component>
        <Feature Id="DefaultFeature" Title="Main Feature" Level="1">
            <ComponentRef Id="CNF_X86" />
            <ComponentRef Id="MGR_X86" />
            <ComponentRef Id="TIP_X86" />
            <ComponentRef Id="CNF_X64" />
            <ComponentRef Id="MGR_X64" />
            <ComponentRef Id="TIP_X64" />
            <ComponentRef Id="RegistryRun" />
        </Feature>
        <UI />
        <WixVariable Id="WixUILicenseRtf" Value="ms-pl.rtf" />
        <Icon Id="CorvusSKK.ico" SourceFile="..\imcrvtip\Icon\CorvusSKK.ico" />
        <Property Id="ARPPRODUCTICON" Value="CorvusSKK.ico" />
        <Property Id="WIX_MINIMAL" Value="CorvusSKK" />
        <UIRef Id="WixUI_Minimal" />
        <Upgrade Id="DBDB315C-1F74-4051-8A67-705D0FD16497">
            <UpgradeVersion Property="PREVIOUSFOUND" OnlyDetect="no" Maximum="$(var.version)" Minimum="0.0.0" IncludeMaximum="no" IncludeMinimum="yes" />
            <UpgradeVersion Property="SELFFOUND" OnlyDetect="yes" Maximum="$(var.version)" Minimum="$(var.version)" IncludeMaximum="yes" IncludeMinimum="yes" />
            <UpgradeVersion Property="NEWERFOUND" OnlyDetect="yes" Minimum="$(var.version)" IncludeMinimum="no" />
        </Upgrade>
        <CustomAction Id="PreventDowngrading" Error="A newer version already installed." />
        <InstallExecuteSequence>
            <Custom Action="PreventDowngrading" After="FindRelatedProducts">NEWERFOUND</Custom>
            <RemoveExistingProducts After="InstallInitialize" />
            <ScheduleReboot After="InstallFinalize" />
        </InstallExecuteSequence>
    </Product>
</Wix>
