<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include installer-version.wxi ?>

  <Product
    Id="*"
    Name="CorvusSKK (arm)"
    Version="$(var.version)"
    Manufacturer="nathancorvussolis"
    Language="1033"
    UpgradeCode="11D76B11-A1F4-4871-B2BB-E0D964FDE4B3">

    <!-- replace template summary after building msi -->
    <!-- ex: msiinfo -p Arm64;1033 -->
    <Package
      Id="*"
      Compressed="yes"
      Description="CorvusSKK (arm)"
      Comments="ver. $(var.version)"
      Platform="x64"
      InstallerVersion="500"
      InstallScope="perMachine"
      InstallPrivileges="elevated" />

    <Media Id="1" Cabinet="arm.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- system directory -->
    <!-- ARM64 : %windir%\System32 -->
    <!-- ARM32 : %windir%\SysArm32 -->
    <!-- x86   : %windir%\SysWOW64 -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsFolder" Name="Windows">
        <Directory Id="SYSTEM64BIT" Name="System32">
          <Directory Id="IME_ARM64" Name="IME">
            <Directory Id="IMCRVSKK_ARM64" Name="IMCRVSKK" />
          </Directory>
        </Directory>
        <Directory Id="SYSTEM32BIT" Name="SysArm32">
          <Directory Id="IME_ARM32" Name="IME">
            <Directory Id="IMCRVSKK_ARM32" Name="IMCRVSKK" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="IMCRVSKK_ARM64">
      <Component Id="CNF_ARM64" Guid="D323467E-FC02-4627-A2F7-13277AE8D843" Win64="yes">
        <File Id="F_imcrvcnf_arm64" Name="imcrvcnf.exe" Source="..\ARM64\Release\imcrvcnf.exe" />
      </Component>
      <Component Id="MGR_ARM64" Guid="09C025FA-27DC-486A-AD7E-5BA082F39779" Win64="yes">
        <File Id="F_imcrvmgr_arm64" Name="imcrvmgr.exe" Source="..\ARM64\Release\imcrvmgr.exe" />
      </Component>
      <Component Id="TIP_ARM64" Guid="AE889CAA-ADE4-47C8-80EE-D024264F93D5" Win64="yes">
        <File Id="F_imcrvtip_arm64" Name="imcrvtip.dll" Source="..\ARM64\Release\imcrvtip.dll" />
      </Component>
      <Component Id="LUAEXE_ARM64" Guid="1A3572E7-942D-4F80-95B9-187681EA786A" Win64="yes">
        <File Id="F_luaexe_arm64" Name="lua.exe" Source="..\ARM64\Release\lua.exe" />
      </Component>
      <Component Id="LUADLL_ARM64" Guid="C20F192C-1DB0-47F5-AE91-0E07727DAB86" Win64="yes">
        <File Id="F_luadll_arm64" Name="lua53.dll" Source="..\ARM64\Release\lua53.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMCRVSKK_ARM32">
      <Component Id="CNF_ARM32" Guid="48AA4637-1781-4099-857F-5FAFB6ED05AE">
        <File Id="F_imcrvcnf_arm32" Name="imcrvcnf.exe" Source="..\ARM\Release\imcrvcnf.exe" />
      </Component>
      <Component Id="MGR_ARM32" Guid="9956BAD3-8620-4795-ACD0-C3796DEA2F1C">
        <File Id="F_imcrvmgr_arm32" Name="imcrvmgr.exe" Source="..\ARM\Release\imcrvmgr.exe" />
      </Component>
      <Component Id="TIP_ARM32" Guid="26DEC436-067C-4629-AB3C-E15EEBF4349B">
        <!-- self registration arm32 dll fails. use regsvr32 command in custom action. -->
        <File Id="F_imcrvtip_arm32" Name="imcrvtip.dll" Source="..\ARM\Release\imcrvtip.dll" />
      </Component>
      <Component Id="LUAEXE_ARM32" Guid="64A7B38E-BF1A-44BB-A5D7-0834F8BB8EFA">
        <File Id="F_luaexe_arm32" Name="lua.exe" Source="..\ARM\Release\lua.exe" />
      </Component>
      <Component Id="LUADLL_ARM32" Guid="AC159140-BFBC-488E-AE0A-A9BE63B2F3C7">
        <File Id="F_luadll_arm32" Name="lua53.dll" Source="..\ARM\Release\lua53.dll" />
      </Component>
    </DirectoryRef>
<!--
    <DirectoryRef Id="IMCRVSKK_ARM64">
      <Component Id="CONCRT140_ARM64" Guid="12A0B75D-8640-424E-9D25-92F1A6478D27">
        <File Id="F_concrt140_arm64" Name="concrt140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC141.CRT\concrt140.dll" />
      </Component>
      <Component Id="MSVCP140_ARM64" Guid="A69100D8-B774-4F25-A803-613F7F46AA18">
        <File Id="F_msvcp140_arm64" Name="msvcp140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC141.CRT\msvcp140.dll" />
      </Component>
      <Component Id="MSVCP140_1_ARM64" Guid="8658F1E8-FEF3-42E7-A3F6-43A31EAE552F">
        <File Id="F_msvcp140_1_arm64" Name="msvcp140_1.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC141.CRT\msvcp140_1.dll" />
      </Component>
      <Component Id="MSVCP140_2_ARM64" Guid="79C9719E-C37D-41A4-8218-3653E912E13E">
        <File Id="F_msvcp140_2_arm64" Name="msvcp140_2.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC141.CRT\msvcp140_2.dll" />
      </Component>
      <Component Id="VCCORLIB140_ARM64" Guid="3E26CA30-081C-4BCD-9327-3253D988205D">
        <File Id="F_vccorlib140_arm64" Name="vccorlib140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC141.CRT\vccorlib140.dll" />
      </Component>
      <Component Id="VCRUNTIME140_ARM64" Guid="5B9BA1A7-191D-49D1-B900-A72A9C03368C">
        <File Id="F_vcruntime140_arm64" Name="vcruntime140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC141.CRT\vcruntime140.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMCRVSKK_ARM32">
      <Component Id="CONCRT140_ARM32" Guid="5A8831FD-D554-4138-B57F-D767C0AB97D6">
        <File Id="F_concrt140_arm32" Name="concrt140.dll"
          Source="$(env.VCToolsRedistDir)arm\Microsoft.VC141.CRT\concrt140.dll" />
      </Component>
      <Component Id="MSVCP140_ARM32" Guid="295E5336-13CA-4CD4-AE10-214F83CD6A15">
        <File Id="F_msvcp140_arm32" Name="msvcp140.dll"
          Source="$(env.VCToolsRedistDir)arm\Microsoft.VC141.CRT\msvcp140.dll" />
      </Component>
      <Component Id="MSVCP140_1_ARM32" Guid="A4C0FB57-E689-4A44-8221-3E804598E3F6">
        <File Id="F_msvcp140_1_arm32" Name="msvcp140_1.dll"
          Source="$(env.VCToolsRedistDir)arm\Microsoft.VC141.CRT\msvcp140_1.dll" />
      </Component>
      <Component Id="MSVCP140_2_ARM32" Guid="7EBB3E05-68BD-4187-9666-318DE2A7AD88">
        <File Id="F_msvcp140_2_arm32" Name="msvcp140_2.dll"
          Source="$(env.VCToolsRedistDir)arm\Microsoft.VC141.CRT\msvcp140_2.dll" />
      </Component>
      <Component Id="VCCORLIB140_ARM32" Guid="0C233947-1B7B-4C59-8803-BA31B7750FAD">
        <File Id="F_vccorlib140_arm32" Name="vccorlib140.dll"
          Source="$(env.VCToolsRedistDir)arm\Microsoft.VC141.CRT\vccorlib140.dll" />
      </Component>
      <Component Id="VCRUNTIME140_ARM32" Guid="4C30E3DC-68CB-4E55-982B-CC4D52ABF477">
        <File Id="F_vcruntime140_arm32" Name="vcruntime140.dll"
          Source="$(env.VCToolsRedistDir)arm\Microsoft.VC141.CRT\vcruntime140.dll" />
      </Component>
    </DirectoryRef>
-->
    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_ARM64" />
      <ComponentRef Id="MGR_ARM64" />
      <ComponentRef Id="TIP_ARM64" />
      <ComponentRef Id="LUAEXE_ARM64" />
      <ComponentRef Id="LUADLL_ARM64" />
      <ComponentRef Id="CNF_ARM32" />
      <ComponentRef Id="MGR_ARM32" />
      <ComponentRef Id="TIP_ARM32" />
      <ComponentRef Id="LUAEXE_ARM32" />
      <ComponentRef Id="LUADLL_ARM32" />
 <!--
      <ComponentRef Id="CONCRT140_ARM64" />
      <ComponentRef Id="MSVCP140_ARM64" />
      <ComponentRef Id="MSVCP140_1_ARM64" />
      <ComponentRef Id="MSVCP140_2_ARM64" />
      <ComponentRef Id="VCCORLIB140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_ARM64" />
      <ComponentRef Id="CONCRT140_ARM32" />
      <ComponentRef Id="MSVCP140_ARM32" />
      <ComponentRef Id="MSVCP140_1_ARM32" />
      <ComponentRef Id="MSVCP140_2_ARM32" />
      <ComponentRef Id="VCCORLIB140_ARM32" />
      <ComponentRef Id="VCRUNTIME140_ARM32" />
-->
    </Feature>

    <!-- TODO: use merge modules instead of local deployment or static link -->
<!--
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="CRT_ARM64" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_CRT_arm64.msm" />
      <Merge Id="AMP_ARM64" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_CXXAMP_arm64.msm" />
      <Merge Id="OMP_ARM64" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_OpenMP_arm64.msm" />
      <Merge Id="CRT_ARM32" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_CRT_arm.msm" />
      <Merge Id="AMP_ARM32" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_CXXAMP_arm.msm" />
      <Merge Id="OMP_ARM32" DiskId="1" Language="0"
        SourceFile="$(env.VCToolsRedistDir)MergeModules\Microsoft_VC141_OpenMP_arm.msm" />
    </DirectoryRef>
    <Feature Id="VCRedist" Title="Runtime" AllowAdvertise="no" Display="hidden" Level="1">
      <MergeRef Id="CRT_ARM64" />
      <MergeRef Id="AMP_ARM64" />
      <MergeRef Id="OMP_ARM64" />
      <MergeRef Id="CRT_ARM32" />
      <MergeRef Id="AMP_ARM32" />
      <MergeRef Id="OMP_ARM32" />
    </Feature>
-->

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <Property Id="ARPPRODUCTICON" Value="IMCRVSKK_ICO" />
    <Icon Id="IMCRVSKK_ICO" SourceFile="..\imcrvtip\Icon\imcrvskk.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <CustomAction Id="REGARM64DLL"
      Directory="IMCRVSKK_ARM64"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s [#F_imcrvtip_arm64]" />
    <CustomAction Id="UNREGARM64DLL"
      Directory="IMCRVSKK_ARM64"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s /u [#F_imcrvtip_arm64]" />
    <CustomAction Id="REGARM32DLL"
      Directory="IMCRVSKK_ARM32"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s [#F_imcrvtip_arm32]" />
    <CustomAction Id="UNREGARM32DLL"
      Directory="IMCRVSKK_ARM32"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s /u [#F_imcrvtip_arm32]" />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
      <Custom Action="UNREGARM64DLL" Before="RemoveFiles">Installed</Custom>
      <Custom Action="UNREGARM32DLL" Before="RemoveFiles">Installed</Custom>
      <Custom Action="REGARM64DLL" After="InstallFiles">NOT REMOVE</Custom>
      <Custom Action="REGARM32DLL" After="InstallFiles">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Condition Message="This application does not support this version of Windows.">
      <![CDATA[VersionNT >= 603]]>
    </Condition>

  </Product>

</Wix>
