<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
  xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

  <Bundle
    Name="CorvusSKK $(env.VERSION)"
    Version="$(env.VERSION)"
    UpgradeCode="F2664253-EAE9-4ED5-AD92-03229BD8F64F"
    Manufacturer="nathancorvussolis"
    Copyright="© 2011 nathancorvussolis"
    AboutUrl="https://nathancorvussolis.github.io/"
    DisableModify="button"
    Condition="(VersionNT = v10.0 AND WindowsBuildNumber &gt;= 14393) OR (VersionNT &gt; v10.0)">

    <!-- Windows 10 version 1607 build 14393 or later -->

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseFile="theme-bundle\license.rtf"
        LogoFile="theme-bundle\logo.png"
        Theme="rtfLargeLicense"
        LocalizationFile="theme-bundle\thm.wxl"
        SuppressOptionsUI="yes"
        ShowVersion="yes" />
    </BootstrapperApplication>

    <!-- processor architecture -->
    <util:RegistrySearch
      Id="REG_ARCH"
      Root="HKLM"
      Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
      Value="PROCESSOR_ARCHITECTURE"
      Result="value"
      Variable="ARCH_NAME" />

    <Chain>

      <!-- x86 modules -->
      <MsiPackage
        Id="X86_MSI"
        SourceFile="$(env.OutDir)\x86.msi"
        DisplayName="x86 modules"
        Compressed="yes"
        InstallCondition="VersionNT" />

      <!-- x64 modules -->
      <MsiPackage
        Id="X64_MSI"
        SourceFile="$(env.OutDir)\x64.msi"
        DisplayName="x64 modules"
        Compressed="yes"
        InstallCondition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
        After="X86_MSI" />

      <!-- arm modules -->
      <MsiPackage
        Id="ARM_MSI"
        SourceFile="$(env.OutDir)\arm.msi"
        DisplayName="ARM modules"
        Compressed="yes"
        InstallCondition="(ARCH_NAME = &quot;ARM64&quot;)"
        After="X64_MSI" />

    </Chain>

  </Bundle>

</Wix>
