<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">

  <?include installer-version.wxi ?>

  <Package
    Name="CorvusSKK (ARM)"
    Version="$(var.version)"
    Manufacturer="nathancorvussolis"
    Language="1033"
    Scope="perMachine"
    InstallerVersion="500"
    UpgradeCode="11D76B11-A1F4-4871-B2BB-E0D964FDE4B3">

    <SummaryInformation Description="CorvusSKK (ARM)" />

    <Media Id="1" Cabinet="arm.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- disable advertised shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- system directory -->
    <!-- ARM64 : %windir%\System32 -->
    <!-- ARM32 : %windir%\SysArm32 -->
    <!-- x86   : %windir%\SysWOW64 -->
    <StandardDirectory Id="System64Folder">
      <Directory Id="IME_ARM64" Name="IME">
        <Directory Id="IMCRVSKK_ARM64" Name="IMCRVSKK" />
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="WindowsFolder">
      <Directory Id="SYSTEMFOLDER_ARM32" Name="SysArm32">
        <Directory Id="IME_ARM32" Name="IME">
          <Directory Id="IMCRVSKK_ARM32" Name="IMCRVSKK" />
        </Directory>
      </Directory>
    </StandardDirectory>
    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="IMCRVSKK_MENU" Name="CorvusSKK" />
    </StandardDirectory>

    <DirectoryRef Id="IMCRVSKK_ARM64">
      <Component Id="CNF_ARM64" Guid="D323467E-FC02-4627-A2F7-13277AE8D843">
        <File Id="F_imcrvcnf_arm64" Name="imcrvcnf.exe"
          Source="..\ARM64\Release\imcrvcnf.exe" KeyPath="yes">
          <!-- overwrite x86 shortcut -->
          <Shortcut Id="S_imcrvcnf_arm64" Name="CONFIG"
            Directory="IMCRVSKK_MENU" WorkingDirectory="IMCRVSKK_ARM64"
            Show="normal" Advertise="yes" />
        </File>
        <RemoveFolder Id="RF_imcrvcnf_arm64" Directory="IMCRVSKK_MENU" On="uninstall" />
      </Component>
      <Component Id="MGR_ARM64" Guid="09C025FA-27DC-486A-AD7E-5BA082F39779">
        <File Id="F_imcrvmgr_arm64" Name="imcrvmgr.exe"
          Source="..\ARM64\Release\imcrvmgr.exe" KeyPath="yes" />
      </Component>
      <Component Id="TIP_ARM64" Guid="AE889CAA-ADE4-47C8-80EE-D024264F93D5">
        <!-- ARM64EC -->
        <File Id="F_imcrvtip_arm64" Name="imcrvtip.dll"
          Source="..\ARM64EC\Release\imcrvtip.dll" KeyPath="yes" SelfRegCost="1" />
      </Component>
      <Component Id="LUAEXE_ARM64" Guid="1A3572E7-942D-4F80-95B9-187681EA786A">
        <File Id="F_luaexe_arm64" Name="lua.exe"
          Source="..\ARM64\Release\lua.exe" KeyPath="yes" />
      </Component>
      <Component Id="LUADLL_ARM64" Guid="C20F192C-1DB0-47F5-AE91-0E07727DAB86">
        <File Id="F_luadll_arm64" Name="lua54.dll"
          Source="..\ARM64\Release\lua54.dll" KeyPath="yes" />
      </Component>
      <Component Id="ZLIBDLL_ARM64" Guid="8B5418C2-ABB5-4907-A749-859856078508">
        <File Id="F_zlibdll_arm64" Name="zlib1.dll"
          Source="..\ARM64\Release\zlib1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMCRVSKK_ARM64">
      <Component Id="MSVCP140_ARM64" Guid="5D44F83D-5E1F-47AD-BB50-465ECCDA6807">
        <File Id="F_msvcp140_arm64" Name="msvcp140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC143.CRT\msvcp140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_ARM64" Guid="3637D9F3-4617-42D4-9711-FC6E5D89F503">
        <File Id="F_vcruntime140_arm64" Name="vcruntime140.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC143.CRT\vcruntime140.dll" KeyPath="yes" />
      </Component>
      <Component Id="VCRUNTIME140_1_ARM64" Guid="607AA8F2-0D79-4E95-892E-4A1C22588A0F">
        <File Id="F_vcruntime140_1_arm64" Name="vcruntime140_1.dll"
          Source="$(env.VCToolsRedistDir)arm64\Microsoft.VC143.CRT\vcruntime140_1.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <!-- TIP only for ARM32 -->
    <DirectoryRef Id="IMCRVSKK_ARM32">
      <Component Id="TIP_ARM32" Guid="26DEC436-067C-4629-AB3C-E15EEBF4349B" Bitness="always32">
        <!-- self registration arm32 dll fails. use regsvr32 command in custom action. -->
        <File Id="F_imcrvtip_arm32" Name="imcrvtip.dll"
          Source="..\ARM\Release\imcrvtip.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <Component Id="REG_ARM64" Guid="5C935156-F6EC-4744-A5D5-3C2D1784C0D7" Directory="TARGETDIR">
      <RegistryValue Id="RV_run_arm64" Action="write"
        Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Run" Type="string"
        Name="imcrvmgr" Value="&quot;[#F_imcrvmgr_arm64]&quot;" KeyPath="yes" />
    </Component>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_ARM64" />
      <ComponentRef Id="MGR_ARM64" />
      <ComponentRef Id="TIP_ARM64" />
      <ComponentRef Id="LUAEXE_ARM64" />
      <ComponentRef Id="LUADLL_ARM64" />
      <ComponentRef Id="ZLIBDLL_ARM64" />
      <ComponentRef Id="MSVCP140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_ARM64" />
      <ComponentRef Id="VCRUNTIME140_1_ARM64" />
      <ComponentRef Id="TIP_ARM32" />
      <ComponentRef Id="REG_ARM64" />
    </Feature>

    <ui:WixUI Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="theme-bundle\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="theme-bundle\dialog.bmp" />

    <Property Id="ARPPRODUCTICON" Value="IMCRVSKK_ICO" />
    <Icon Id="IMCRVSKK_ICO" SourceFile="..\imcrvtip\Icon\imcrvskk.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <!-- Some processors do not support AArch32. The return code will not be checked. -->
    <CustomAction Id="REGARM32DLL"
      Directory="IMCRVSKK_ARM32"
      Execute="deferred" Impersonate="no" Return="ignore"
      ExeCommand="regsvr32 /s [#F_imcrvtip_arm32]" />
    <CustomAction Id="UNREGARM32DLL"
      Directory="IMCRVSKK_ARM32"
      Execute="deferred" Impersonate="no" Return="ignore"
      ExeCommand="regsvr32 /s /u [#F_imcrvtip_arm32]" />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
      <Custom Action="UNREGARM32DLL" Before="RemoveFiles" Condition="Installed" />
      <Custom Action="REGARM32DLL" After="InstallFiles" Condition="NOT REMOVE" />
    </InstallExecuteSequence>

  </Package>

</Wix>
