<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
  xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
  xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <?include installer-version.wxi ?>

  <Bundle
    Name="CorvusSKK $(var.version) (ARM)"
    Version="$(var.version)"
    UpgradeCode="F2664253-EAE9-4ED5-AD92-03229BD8F64F"
    Manufacturer="nathancorvussolis"
    Copyright="© 2011 nathancorvussolis"
    AboutUrl="https://nathancorvussolis.github.io/"
    DisableModify="button"
    Condition="VersionNT >= v10.0">

    <BootstrapperApplicationRef
      Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication
        LicenseFile="theme-bundle\license.rtf"
        LogoFile="theme-bundle\logo.png"
        SuppressOptionsUI="yes" />
    </BootstrapperApplicationRef>

    <Chain>

      <!-- x86 modules -->
      <MsiPackage
        Id="X86_MSI"
        SourceFile="build\x86.msi"
        DisplayName="x86 modules"
        ForcePerMachine="yes"
        Compressed="yes"
        InstallCondition="VersionNT">
        <!-- enabled autorun x86 imcrvmgr.exe only on 32-bit Windows. -->
        <MsiProperty
          Name="DISABLE_AUTORUN"
          Value="[VersionNT]" />
      </MsiPackage>

      <!-- arm modules -->
      <MsiPackage
        Id="ARM_MSI"
        SourceFile="build\arm.msi"
        DisplayName="ARM modules"
        ForcePerMachine="yes"
        Compressed="yes"
        InstallCondition="VersionNT"
        After="X86_MSI" />

    </Chain>

  </Bundle>

</Wix>
