<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include installer-version.wxi ?>

  <Product
    Id="*"
    Name="CorvusSKK (arm)"
    Version="$(var.version)"
    Manufacturer="nathancorvussolis"
    Language="1033"
    UpgradeCode="11D76B11-A1F4-4871-B2BB-E0D964FDE4B3">

    <!-- replace template summary after building msi -->
    <!-- ex: msiinfo -p Arm64;1033 -->
    <Package
      Id="*"
      Compressed="yes"
      Description="CorvusSKK (arm)"
      Comments="ver. $(var.version)"
      Platform="x64"
      InstallerVersion="500"
      InstallScope="perMachine"
      InstallPrivileges="elevated" />

    <Media Id="1" Cabinet="arm.cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- system directory -->
    <!-- ARM64 : %windir%\System32 -->
    <!-- ARM32 : %windir%\SysArm32 -->
    <!-- x86   : %windir%\SysWOW64 -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="WindowsFolder" Name="Windows">
        <Directory Id="SYSTEM64BIT" Name="System32">
          <Directory Id="IME_ARM64" Name="IME">
            <Directory Id="IMCRVSKK_ARM64" Name="IMCRVSKK" />
          </Directory>
        </Directory>
        <Directory Id="SYSTEM32BIT" Name="SysArm32">
          <Directory Id="IME_ARM32" Name="IME">
            <Directory Id="IMCRVSKK_ARM32" Name="IMCRVSKK" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="IMCRVSKK_ARM64">
      <Component Id="CNF_ARM64" Guid="D323467E-FC02-4627-A2F7-13277AE8D843" Win64="yes">
        <File Id="F_imcrvcnf_arm64" Name="imcrvcnf.exe" Source="..\ARM64\Release\imcrvcnf.exe" />
      </Component>
      <Component Id="MGR_ARM64" Guid="09C025FA-27DC-486A-AD7E-5BA082F39779" Win64="yes">
        <File Id="F_imcrvmgr_arm64" Name="imcrvmgr.exe" Source="..\ARM64\Release\imcrvmgr.exe" />
      </Component>
      <Component Id="TIP_ARM64" Guid="AE889CAA-ADE4-47C8-80EE-D024264F93D5" Win64="yes">
        <File Id="F_imcrvtip_arm64" Name="imcrvtip.dll" Source="..\ARM64\Release\imcrvtip.dll" />
      </Component>
      <Component Id="LUAEXE_ARM64" Guid="1A3572E7-942D-4F80-95B9-187681EA786A" Win64="yes">
        <File Id="F_luaexe_arm64" Name="lua.exe" Source="..\ARM64\Release\lua.exe" />
      </Component>
      <Component Id="LUADLL_ARM64" Guid="C20F192C-1DB0-47F5-AE91-0E07727DAB86" Win64="yes">
        <File Id="F_luadll_arm64" Name="lua53.dll" Source="..\ARM64\Release\lua53.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="IMCRVSKK_ARM32">
      <Component Id="CNF_ARM32" Guid="48AA4637-1781-4099-857F-5FAFB6ED05AE">
        <File Id="F_imcrvcnf_arm32" Name="imcrvcnf.exe" Source="..\ARM\Release\imcrvcnf.exe" />
      </Component>
      <Component Id="MGR_ARM32" Guid="9956BAD3-8620-4795-ACD0-C3796DEA2F1C">
        <File Id="F_imcrvmgr_arm32" Name="imcrvmgr.exe" Source="..\ARM\Release\imcrvmgr.exe" />
      </Component>
      <Component Id="TIP_ARM32" Guid="26DEC436-067C-4629-AB3C-E15EEBF4349B">
        <!-- self registration arm32 dll fails. use regsvr32 command in custom action. -->
        <File Id="F_imcrvtip_arm32" Name="imcrvtip.dll" Source="..\ARM\Release\imcrvtip.dll" />
      </Component>
      <Component Id="LUAEXE_ARM32" Guid="64A7B38E-BF1A-44BB-A5D7-0834F8BB8EFA">
        <File Id="F_luaexe_arm32" Name="lua.exe" Source="..\ARM\Release\lua.exe" />
      </Component>
      <Component Id="LUADLL_ARM32" Guid="AC159140-BFBC-488E-AE0A-A9BE63B2F3C7">
        <File Id="F_luadll_arm32" Name="lua53.dll" Source="..\ARM\Release\lua53.dll" />
      </Component>
    </DirectoryRef>

    <Feature Id="Default" Title="Main" Level="1">
      <ComponentRef Id="CNF_ARM64" />
      <ComponentRef Id="MGR_ARM64" />
      <ComponentRef Id="TIP_ARM64" />
      <ComponentRef Id="LUAEXE_ARM64" />
      <ComponentRef Id="LUADLL_ARM64" />
      <ComponentRef Id="CNF_ARM32" />
      <ComponentRef Id="MGR_ARM32" />
      <ComponentRef Id="TIP_ARM32" />
      <ComponentRef Id="LUAEXE_ARM32" />
      <ComponentRef Id="LUADLL_ARM32" />
    </Feature>

    <UIRef Id="WixUI_Minimal" />
    <WixVariable Id="WixUILicenseRtf" Value="theme-bundle\license.rtf" />
    <Property Id="ARPPRODUCTICON" Value="IMCRVSKK_ICO" />
    <Icon Id="IMCRVSKK_ICO" SourceFile="..\imcrvtip\Icon\imcrvskk.ico" />

    <MajorUpgrade DowngradeErrorMessage="A newer version is already installed." />

    <CustomAction Id="REGARM64DLL"
      Directory="IMCRVSKK_ARM64"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s [#F_imcrvtip_arm64]" />
    <CustomAction Id="UNREGARM64DLL"
      Directory="IMCRVSKK_ARM64"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s /u [#F_imcrvtip_arm64]" />
    <CustomAction Id="REGARM32DLL"
      Directory="IMCRVSKK_ARM32"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s [#F_imcrvtip_arm32]" />
    <CustomAction Id="UNREGARM32DLL"
      Directory="IMCRVSKK_ARM32"
      Execute="deferred" Impersonate="no"
      ExeCommand="regsvr32 /s /u [#F_imcrvtip_arm32]" />

    <InstallExecuteSequence>
      <ScheduleReboot After="InstallFinalize" />
      <Custom Action="UNREGARM64DLL" Before="RemoveFiles">Installed</Custom>
      <Custom Action="UNREGARM32DLL" Before="RemoveFiles">Installed</Custom>
      <Custom Action="REGARM64DLL" After="InstallFiles">NOT REMOVE</Custom>
      <Custom Action="REGARM32DLL" After="InstallFiles">NOT REMOVE</Custom>
    </InstallExecuteSequence>

    <Condition Message="This application does not support this version of Windows.">
      <![CDATA[VersionNT >= 603]]>
    </Condition>

  </Product>

</Wix>
